<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lokesdt</key>
	<dict>
		<key>apijf</key>
		<string>你的api域名中间部分</string>
		<key>ihgs</key>
		<string>你的appid</string>
		<key>nifne</key>
		<string>key</string>
		<key>ljes</key>
		<string>iv</string>
		<key>lzmfh</key>
		<string>启动图</string>
		<key>qpdh</key>
		<string>登录图</string>
		<key>vmusf</key>
		<true/>
	</dict>
</dict>
</plist>
